/* llamar a la eetiqueta directo*/

.Nombre {
    color:rgb(0, 7, 42); 
    background-color: rgb(180, 215, 247);
    font-size: 43px;
    font-family: 'Noto Serif HK', serif;
text-align: center;
margin-left: 50px;
}

.sticky {
position: fixed;
}

.h1{color:rgb(0, 7, 42); font-size: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

/* llamar a una clase */
.titular{color:rgb(58, 148, 251);}

/* llamar a un id */
#titular3{color:aqua; font-size: 50px; background-color: brown;}

.azulOscuro{color:rgb(0, 27, 95)}
.borde{border: 4px rgb(255, 255, 255) solid;
font-family: Georgia, 'Times New Roman', Times, monospace ;
}


#relativa{position: relative; bottom: 10px; right: 10px}
#whatsapp{position: fixed; bottom: 10px; right: 10px ; width: 5%;}
#padding-interno{padding: 50px; margin: 10px;}

.imgred img {
    width: 100px;
    display: block;
    margin: 0.5rem auto;

    border-radius: 50%;
    text-align:center ;
    display: inline-flex;
    float:left ;
}

.imgprod img {
  text-align:center ;
    display: inline-flex;
    float:none ;
    width: 330px;
    height: 330px;
    border-radius: 5%;
}


*{
    font-family: Georgia, 'Times New Roman', Times, monospace ;
    font-weight:900;
    font-variant: small-caps;

}

#caja1{
    border:1px solid red;
    margin-top: 50px;
    padding-top: 100px;

}

#caja2{
    margin: 10px 20px 30px 40px;
    /* top rigth bottom left */
    border: solid red;
    border-width: 1px 10px 30px 50px;
    /*debbugear*/
}
#imagen-responsive{
    width: 20%;
    border:1px solid rgb(255, 255, 255);
    display:block;

}

/* Display:
-none
-block
-inline
-inlie-block
*/

li{
    display:inline;
    margin-left: 50px;
}
span{
    /* error typo*/
    border:1px solid red;
    display:block;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header header header header header header header"
    "main main main main main main main main main main main"
    "main main main main main main main main main main main"
    "main main main main main main main main main main main"
    "main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer";
}

.footer { grid-area: footer; }

.header { grid-area: header; }

.main { grid-area: main; }

.menu { grid-area: menu; }

  
  @media only screen and (max-width: 600px) {
    body {
      display: grid;
      grid-template-columns: 1fr;
      overflow: hidden;
    }
    .grid-container{
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
 
  }

  .grid-container>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #8db8fe;
    border-radius: 20px;
}

.grid-container>div:hover{
  background-color: #6591d3;
}


.informacion{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:15px;
}

.button{
  background-color: #b2caf2;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  border: none;

  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}

  .grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  .button:hover {
    background-color:#6c7ca7;
    transition: 0.4s;
}

#cart-container {
  padding: 10%;
}


.btnbtn-primar{ color: black; text-align: center;}

#Submit1{background-color: rgb(52, 52, 52);text-align: center;}
#expl{text-align: center;}  

.btnnbtn-primary{background-color: white;color: black; position: sticky;bottom: 10px;}
.btnnnbtn-primary{background-color: black;color: black;}

#carrito{position: fixed;bottom: 15px;left: 40% ;width: 300px;}
#calculos{text-align: center;}

.sc-10gk5i5-3{color: black; }
.crema1{
    width: 10%; 
    height: 200px;
}
.locion{
    width: 180px; 
    height: 250px;
}

