/* llamar a la eetiqueta directo*/
h1{color:green; font-size: 50px;}

/* llamar a una clase */
.titular{color:grey;}

/* llamar a un id */
#titular3{color:aqua; font-size: 50px; background-color: brown;}

.rojo{color:red}
.borde{border: 1px yellow solid;}

#relativa{position: relative; bottom: 10px; right: 10px}
#whatsapp{position: fixed; bottom: 10px; right: 10px}
#padding-interno{padding: 50px; margin: 10px;}